<h1>Get Newzbin MSGID</h1>
<p>
  <form action="/nzb_manager/get_msgid_from_newzbin" method="post" >
    MSGID: &nbsp;&nbsp;<input type='text' name='msgid' />
    <input type='submit' value='Grab NZB' class='submit' />
  </form>
</p>

