<h1>Get NZB from URL</h1>
<p>
  <form action="/nzb_manager/get_nzb_from_url" method="post" >
    NZB URL: &nbsp;&nbsp;<input type='text' name='nzb_url' />
    <input type='submit' value='Grab NZB' class='submit' />
  </form>
</p>

