  <h1>
    Currently Downloading: 
    <span id='nzb_name'>
      <%= @hella.currently_downloading['nzbName'] if !@hella.currently_downloading.nil? %>
    </span>
    <span id='rate'><%= @hella.rate %>KB/s</span>
  </h1>
  <p>
    <div id='progress_container'>
      <div id='progress_text'>
        <%= @hella.percent_complete %>&#37;
      </div>
      <div id='progress_bar' width='<%= @hella.status['percent_complete'] %>'></div>
  </p>

